$main-color:hsl(0,0,94);
$heder-color:white;
$btn-color:hsl(155,44,49);
$futer-color:hsl(0,0,84);
$login-color:hsl(9,75,56);
$shadow:hsl(0,0,94);
$text-color:hsl(0,0,40);
$dashboard-text:hsl(204,82,41);
